@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    font-family: "Madimi One", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 7vh;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
header>nav>ul {
    display: flex;
    flex-direction: row;
    padding-inline: 5vh;
}

header>nav>ul>li {
    margin-inline: 10px;
}

header>nav>ul>li>a {
    font-size: 3vh;
    color: white;
}

header>nav>ul>li>a:hover {
    font-size: 3vh;
    color: rgb(158, 125, 59);
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
    grid-template-rows: 12vh;
    background-color: #000000;

}

footer>nav>p {
    color: white;
}


footer>nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer > nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vh;
}

footer>nav>ul>li>a {
    display: flex;
    justify-content: space-between;
    font-size: 3vh;
    color: #14E1D7;
}


body {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    background-color: rgb(107, 222, 212);
}

header>img {
    height: 80%;
}

section {
    margin-inline: 5vh;
}

#noticias {
    margin-inline: 0;
    padding-inline: 10vh;
    padding-bottom: 5vh;
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5vh;
    background-color: rgb(59, 156, 137);
}

#noticias>article {
    padding: 07px;
    padding-inline: 1vh;
    background-color: rgb(36, 136, 116);
    display: grid;
    grid-template-rows: max-content auto 35px;
    max-width: 310px;
    min-width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-height: 500px;
    min-height: 300px;
    border-radius: 10px;
}

#noticias>article>h2{
    padding-inline: 1vh;
    color: rgb(246, 185, 64);
}

#noticias>article>img {
    border-radius: 10px;
    display: flex;
    width: 100%;
    min-width: 200px;
}

#depoimentos {
    margin: 0;
    padding-inline: 3vh;
    background-color: rgb(59, 156, 137);
    padding-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    
}
.depoimento {
    margin-left: 50px;
    max-width: 40vh;
    min-width: 200px;
    background-color: rgb(158, 125, 59);
    margin-bottom: 3vh;
    border-radius: 7px;
    border: 0.1px solid rgb(12, 12, 12);
    padding-bottom: 2vh rgb(0, 0, 0);
    margin-bottom: 70px;
}

.depoimento>img {

    margin-top: -50px;
    margin-left: -50px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    max-width: 100px;
    border-radius: 50%;
}

.depoimento > h2{
    margin-top: -40px;
    margin-left: 60px;
}

.depoimento > p{
    margin: 8px;
    margin-top: 20px;
}

#contato {
    margin: 0;
    padding-inline: 10vh;
    background-color: rgb(22, 90, 66);
}

#produtos {
    border-top: 2px solid rgb(0, 0, 0);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(142, 228, 204);
    justify-content: center;
}

#produtos>.produto {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    border: 1px solid #0b0b0b;
    border-radius: 10px;
    padding: 10px;
    margin: 2vh;
    margin-bottom: 20px;
    min-height: 300px;
}

#produtos>.produto>p{
    width: 80%;
}

#produtos>.produto>h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
}

#produtos > .produto > img {
    display: flex;
    max-width: 100px;
}

#contato{
    padding-top: 0;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 250px;
}

#contato > form{
    display: grid;
    grid-template-rows: 5vh 5vh 0 100px 5vh;
    gap: 2vh;
}

#contato > form > textarea{
    resize: none;
}

#contato > nav > ul > li {
    display: grid;
    grid-template-columns: 7vh 20vh;
    justify-content: end;
}

#contato > nav > ul > li > a{
    color: rgb(184, 184, 184);
}

#contato > nav > ul {
    margin-top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

#home {
    margin-top: 10vh;
    padding: 10vh;
    padding-bottom: 0;
    display: grid;
    gap: 4vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-bottom: 15vh;
    
    border-radius:10px 10px 0px 0px ;
}

#home>img {
    width: 100%;
    border-radius:10px 100px 10px 100px ;
}

#home>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sobre{
    border-radius:0px 0px 10px 10px ;
    background-color: rgb(107, 222, 212);
    display: grid;
    grid-template-columns: 80%;
}


@media (max-width: 1076px){

    #noticias {
        grid-template-columns: 1fr 1fr 1fr ;
    }

}

@media (max-width: 830px){

    #noticias {
        grid-template-columns: 1fr 1fr ;
    }

    #contato{
        grid-template-columns: 1fr;
        height: 80vh;
    }

}

@media (max-width: 588px){

    #noticias {
        grid-template-columns: 1fr ;
    }

}
