* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
header>nav>ul {
    display: flex;
    flex-direction: row;
    padding-inline: 5vh;
}

header>nav>ul>li {
    margin-inline: 10px;
}

header>nav>ul>li>a {
    font-size: 3vh;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
    grid-template-rows: 12vh;
    background-color: #074E1B;

}

footer>nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer > nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vh;
}

footer>nav>ul>li>a {
    display: flex;
    justify-content: space-between;
    font-size: 3vh;
    color: #14E1D7;
}


body {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    background-color: aquamarine;
}

header>img {
    height: 80%;
}

section {
    padding-top: 10vh;
    margin-inline: 5vh;
}

#noticias {
    margin-inline: 0;
    padding-inline: 10vh;
    padding-bottom: 5vh;
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5vh;
    background-color: rgb(59, 156, 137);
}

#noticias>article {
    padding: 07px;
    padding-inline: 1vh;
    background-color: rgb(36, 136, 116);
    display: grid;
    grid-template-rows: max-content auto 35px;
    max-width: 310px;
    min-width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-height: 500px;
    min-height: 300px;
    border-radius: 10px;
}

#noticias>article>h2{
    padding-inline: 1vh;
    color: rgb(246, 185, 64);
}

#noticias>article>img {
    border-radius: 10px;
    display: flex;
    width: 100%;
    min-width: 200px;
}

#depoimentos {
    margin: 0;
    padding-inline: 3vh;
    background-color: rgb(59, 156, 137);
    padding-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    
}
.depoimento {
    margin-left: 50px;
    max-width: 40vh;
    min-width: 200px;
    background-color: rgb(158, 125, 59);
    margin-bottom: 3vh;
    border-radius: 7px;
    border: 0.1px solid rgb(12, 12, 12);
    padding-bottom: 2vh rgb(0, 0, 0)
}

.depoimento>img {

    margin-top: -50px;
    margin-left: -50px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    max-width: 100px;
    border-radius: 50%;
}

.depoimento > h2{
    margin-top: -40px;
    margin-left: 60px;
}

.depoimento > p{
    margin: 8px;
    margin-top: 20px;
}

#contato {
    margin: 0;
    padding-inline: 10vh;
    background-color: rgb(22, 90, 66);
}

#produtos {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(142, 228, 204);
}

#produtos>.produto {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 15vh;
    max-width: 30vh;
    border: 1px solid #0b0b0b;
    border-radius: 10px;
    padding: 10px;
    margin: 2vh;
    margin-bottom: 20px;
    height: 45vh;
}

#produtos > .produto > img {
    display: flex;
    max-width: 150px;
}