@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


* {
    font-family: "Madimi One", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
header>nav>ul {
    display: flex;
    flex-direction: row;
    padding-inline: 5vh;
}

header>nav>ul>li {
    margin-inline: 10px;
}

header>nav>ul>li>a {
    font-size: 3vh;
    color: white;
}

header>nav>ul>li>a:hover {
    font-size: 3vh;
    color: rgb(158, 125, 59);
}

header>img {
    height: 80%;
}

section{
    margin-top: 50px;
}

/***************************/
label{
    display: flex;
    flex-direction: column;
}
html{
    width: 100%;
    background-color: aqua;
}

main{
    display: grid;
    grid-template-columns: 60% 40%;
    padding-inline: 5vh;
    background-color: aquamarine;
}

section{
    min-height: 100%;

}

.produto {
    height: 08vh;
    width: 97%;
    border-radius: 10px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 10% 15% 35% 15% 10% 10%;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.produto > div {
    display: flex;
    flex-direction: row;
}

.produto > div > button {
    width: 15px;
}

.produto img{
    width: 45px;
    border-radius: 30%;
} 
.produto > p > button{
   width: 2vh;
}



#resumo {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30px 30px 10px 30px 50px 50px 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(185, 209, 229);
}

#direita{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 80vh;
    border-radius: 10px;
    border: 2px solid black;
}


#esquerda{
    display: block;
    flex-direction: column;
    justify-content: space-between;

}

#endereco {
    min-height: 100px;
    padding-inline: 20px;
}

#carrinho {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;

}
